@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playpen+Sans+Deva:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    height: auto;
    width: auto;
}

body {

    background-image: url(imagens/background-site.jpg);
}

h1 {
    font-family: "PT Serif";
    font-size: 2.5em;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}
nav a {
    font-size: 18px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    
}
nav {
    padding-left: 20px;
    padding-top: 10px;
}

header img {
    border-radius: 300px 300px;
    height: 200px;
    width: 200px;
}
section p#ola {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 63px;
    margin-bottom: -203px;

}
section p#nome {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 122px;

}

section p#almeida {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 150px;
    margin-top: -240px;
    margin-bottom: -120px;
} 

section p#estudante {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 25px;
    margin-bottom: 100px;
    text-decoration: underline;
    font-weight: bolder;
} 

h2 {
    font-family: "PT Serif"; 
    font-size: 3em;
}

main {
    text-align: justify;
    line-height: 25px;
    
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 15px;
}

aside p a:hover {
text-decoration: underline;
color: blue;

}

aside p a{
text-decoration: none;
color: black;
}

aside p {
    font-family: Arial, Helvetica, sans-serif;
}

img.foto{
    width: 300px;
    border-radius: 94px 24px;
}
section.fotosevideos{
    font-family: "PT Serif";
}
 video {
    height: 600px;
    border-radius: 94px 24px; 
 }


