@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playpen+Sans+Deva:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    height: auto;
    width: auto;
}

body {

    background-image: url(imagens/background-site.jpg);
}

h1 {
    font-family: "PT Serif";
    font-size: 2.5em;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}
nav a {
    font-size: 18px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    
}
nav {
    padding-left: 20px;
    padding-top: 10px;
}

header img {
    border-radius: 300px 300px;
    height: 200px;
    width: 200px;
}
section p#ola {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 8vw;
    margin-bottom: -21vw;
}

section p#nome {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 15vw;
}

section p#almeida {
    font-family: "Playpen sans deva", "Sans-serif";
    font-size: 18vw;
    margin-top: -6vw;
    margin-top: -33vw;
}

section p#estudante {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    margin-bottom: 10vw;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: -28vw;
}

h2 {
    font-family: "PT Serif"; 
    font-size: 3em;
}

main {
    text-align: justify;
    line-height: 25px;
    
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 15px;
}
aside p  img {
    margin-right: 40px;
    height: 100px;

}
aside h3 {
    text-decoration: underline;
}

aside p a:hover {
text-decoration: underline;
color: blue;

}

aside p a{
text-decoration: none;
color: black;
}

aside p {
    font-family: Arial, Helvetica, sans-serif;
}

img.foto{
    border: 2px solid rgb(88, 88, 88);
    width: 300px;
    border-radius: 94px 24px;
}
section.fotosevideos{
    font-family: "PT Serif";
}
 video {
    height: 600px;
    border-radius: 94px 24px; 
 }

div img.icones {
    margin-right: 20px;
    height: 30px;
}

 div {
    font-weight: bolder;
    font-family: "Playpen sans deva", "Sans-serif";
    text-align: center;
 }
 footer {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px -8px -20px -8px;
    
 }


